<header class="l-header pc">
  <h1>
    <a href="<%- data.layer %>top/"><img src="<%- data.layer %>assets/img/common/logo.svg" alt="honnow"></a>
  </h1>
  <nav>
    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      <li itemprop="name"><a itemprop="url" href="<%- data.layer %>work/" class="work">WORK</a></li>
      <li itemprop="name"><a itemprop="url" href="<%- data.layer %>about/" class="about">ABOUT</a></li>
      <li itemprop="name"><a itemprop="url" href="<%- data.layer %>shop/" class="shop">SHOP</a></li>
      <li itemprop="name"><a itemprop="url" href="<%- data.layer %>contact/" class="contact">CONTACT</a></li>
      <!-- <li><a href="<%- data.layer %>clients/" class="clients">CLIENTS</a></li> -->
      <li><a href="<%- data.layer %>recruit/" class="recruit">RECRUIT</a></li>
    </ul>
  </nav>
  <div class="open-overlay sp">
    <span class="bar-top"></span>
    <span class="bar-bottom"></span>
  </div>
</header>
<header class="l-header sp">
  <h1>
    <a href="/"><img src="<%- data.layer %>assets/img/common/logo.svg" alt="honnow"></a>
  </h1>
  <div id="navArea">
    <nav>
      <div class="inner">
        <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
          <li itemprop="name"><a itemprop="url" href="<%- data.layer %>work/" class="work">WORK</a></li>
          <li itemprop="name"><a itemprop="url" href="<%- data.layer %>about/" class="about">ABOUT</a></li>
          <li itemprop="name"><a itemprop="url" href="<%- data.layer %>shop/" class="shop">SHOP</a></li>
          <li itemprop="name"><a itemprop="url" href="<%- data.layer %>contact/" class="contact">CONTACT</a></li>
          <!-- <li><a href="<%- data.layer %>clients/" class="clients">CLIENTS</a></li> -->
          <li><a href="<%- data.layer %>recruit/" class="recruit">RECRUIT</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn-trigger toggle_btn sp" id="btn15">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- <div class="toggle_btn sp">
      <span class="bar-top"></span>
      <span class="bar-bottom"></span>
      <span class="bar-bottom"></span>
    </div> -->
    <div id="mask"></div>
  </div>
</header>
