<section class="l-about l-contents">
  <div class="l-about__about">
    <h2>
      <span class="header-text about01">A</span>
      <span class="header-text about02">B</span>
      <span class="header-text about03">O</span>
      <span class="header-text about04">U</span>
      <span class="header-text about05">T</span>
    </h2>
    <div class="l-about__kv">
      <div class="l-about__wrapper">
        <div class="l-about__kv__text">
          <p class="text_top">既成概念を破壊するアート思考と、価値を再生するデザイン思考<br>
            さらにテクノロジーとグローバルネットワークを掛け合わせることで<br>
            社会課題の”HOW”を”WOW”に価値変容変し<br>
            ”本能”で良いと感じる体験をつくる
            <br><br>
            衣・食・住、そしてヘルスケアなど<br>
            豊かな暮らしに寄与する領域のソリューションから<br class="">
            まだ世の中に存在しない新しい表現の追求まで<br>
            クリエイティブの力で、世界中の人々の健幸と、<br class="sp">持続可能な未来を実現する</p>
            <div class="l-about__kv__img">
              <img src="<%- data.layer %>assets/img/common/text_h.svg" alt="how" class="how_h">
              <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="how" class="how_o">
              <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="how" class="how_w">
              <img src="<%- data.layer %>assets/img/common/text_t.svg" alt="to" class="to_t">
              <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="to" class="to_o">
              <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="wow" class="wow_w_01">
              <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="wow" class="wow_o">
              <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="wow" class="wow_w_02">
              <!-- <img src="<%- data.layer %>assets/img/top/kv-logo01.svg" alt="how" class="l-kv__img about_kv01">
              <img src="<%- data.layer %>assets/img/top/kv-logo02.svg" alt="to" class="l-kv__img about_kv02">
              <img src="<%- data.layer %>assets/img/top/kv-logo03.svg" alt="wow" class="l-kv__img about_kv03"> -->
            </div>
            <p class="text_bottom">それが、HONNOWの使命です</p>
        </div>
      </div>
    </div>
  </div>
  <div class="l-about__process">
    <h2 class="process">
      <span class="header-text process01">P</span>
      <span class="header-text process02">R</span>
      <span class="header-text process03">O</span>
      <span class="header-text process04">C</span>
      <span class="header-text process05">E</span>
      <span class="header-text process06">S</span>
      <span class="header-text process07">S</span>
    </h2>
    <div class="l-about__process__text">
      <p>
        クリエイティブディレクター、アートディレクター<span class="pc">、</span><br class="sp">デザイナー、コピーライター、プランナーなど<br class="">
        それぞれのスキルを生かし<span class="pc">、</span><br class="sp">お客様の戦略立案に応じた内容に合わせ<br class="">
        最適なスタッフィングで、よりよいクリエイティブプランを構築
      </p>
    </div>
    <div class="l-about__process__wrapper pc">
      <div class="l-about__process_block block01">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/talk.svg" alt="" class="talk">
          <img src="<%- data.layer %>assets/img/about/talk_moji.svg" alt="" class="talk_moji">
        </div>
        <div class="l-about__process_right">
          「いま、何に困っているのか？」<br>
          「どういったものをつくりたいのか？」<br>
          「どんな未来を目指したいのか？」など<br>
          目的、やりたいことをお伺いします
        </div>
      </div>
      <div class="l-about__process_block block02">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/arrow.svg" class="arrow" alt="">
        </div>
        <div class="l-about__process_right"></div>
      </div>
      <div class="l-about__process_block block03">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/how.svg" alt="" class="how">
          <img src="<%- data.layer %>assets/img/about/how_moji.svg" alt="" class="how_moji">
        </div>
        <div class="l-about__process_right">
          ヒアリング・ディスカッション内容に基づき<br>
          どこが解決すべき課題なのかを発見します
        </div>
      </div>
      <div class="l-about__process_block block04">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/arrow.svg" class="arrow" alt="">
        </div>
        <div class="l-about__process_right"></div>
      </div>
      <div class="l-about__process_block block05">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/plan.svg" alt="" class="plan">
          <img src="<%- data.layer %>assets/img/about/plan_moji.svg" alt="" class="plan_moji">
        </div>
        <div class="l-about__process_right">
          戦略立案、課題の本質を追求し<br>
          理想の実現に向けたプランニングを行います
        </div>
      </div>
      <div class="l-about__process_block block06">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/arrow.svg" class="arrow" alt="">
        </div>
        <div class="l-about__process_right"></div>
      </div>
      <div class="l-about__process_block block07">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/wow.svg" alt="" class="wow">
          <img src="<%- data.layer %>assets/img/about/wow_moji.svg" alt="" class="wow_moji">
        </div>
        <div class="l-about__process_right">
          課題の本質をクリアした<br>
          最適なクリエイティブを提供します
        </div>
      </div>
    </div>
    <div class="l-about__process__wrapper sp">
      <div class="l-about__process_block block01">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/sp/talk.svg" alt="" class="">
        </div>
        <div class="l-about__process_right">
          「いま、何に困っているのか？」など<br>
          目的、やりたいことをお伺いします
        </div>
      </div>
      <div class="l-about__process_block block02">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/arrow.svg" class="arrow" alt="">
        </div>
        <div class="l-about__process_right"></div>
      </div>
      <div class="l-about__process_block block03">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/sp/how.svg" alt="">
        </div>
        <div class="l-about__process_right">
          ヒアリング・ディスカッション内容に基づき<br>
          どこが解決すべき課題なのかを発見します
        </div>
      </div>
      <div class="l-about__process_block block04">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/arrow.svg" class="arrow" alt="">
        </div>
        <div class="l-about__process_right"></div>
      </div>
      <div class="l-about__process_block block05">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/sp/plan.svg" alt="">
        </div>
        <div class="l-about__process_right">
          戦略立案、課題の本質を追求し理想の<br>
          実現に向けたプランニングを行います
        </div>
      </div>
      <div class="l-about__process_block block06">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/arrow.svg" class="arrow" alt="">
        </div>
        <div class="l-about__process_right"></div>
      </div>
      <div class="l-about__process_block block07">
        <div class="l-about__process_left">
          <img src="<%- data.layer %>assets/img/about/sp/wow.svg" alt="">
        </div>
        <div class="l-about__process_right">
          課題の本質をクリアした<br>
          最適なクリエイティブを提供します
        </div>
      </div>
    </div>
  </div>
  <div class="l-about__business">
    <h2>
      <span class="header-text business01">B</span>
      <span class="header-text business02">U</span>
      <span class="header-text business03">S</span>
      <span class="header-text business04">I</span>
      <span class="header-text business05">N</span>
      <span class="header-text business06">E</span>
      <span class="header-text business07">S</span>
      <span class="header-text business08">S</span>
    </h2>
    <div class="l-about__business__wrapper">
      <div class="l-about__business__left">
        <span class="business_text">
          <span class="client client01">C</span>
          <span class="client client02">L</span>
          <span class="client client03">I</span>
          <span class="client client04">E</span>
          <span class="client client05">N</span>
          <span class="client client06">T</span>
        </span>
      </div>
      <div class="l-about__business__middle arrow01">
        <img src="<%- data.layer %>assets/img/about/arrow.svg" class="arrow" alt="">
      </div>
      <div class="l-about__business__right">
        <div class="l-about__business__logo">
          <img src="<%- data.layer %>assets/img/common/logo.svg" alt="">
        </div>
        <div class="l-about__business__middle sp-arrow sp arrow02">
          <img src="<%- data.layer %>assets/img/about/arrow.svg" class="arrow" alt="">
        </div>
        <div class="l-about__business_circle">
          <svg width="480" height="480" class="pc">
            <circle cx="240" cy="240" r="240" class="" />
          </svg>
          <svg width="480" height="480" class="about-circle sp">
            <circle cx="240" cy="240" r="240" class="" />
          </svg>
        </div>
        <div class="l-about__point-area copy pc">
          <span class="business_text">COPY</span>
          <span class="business_point"></span>
        </div>
        <div class="l-about__point-area copy sp">
          <span class="business_point"></span>
          <span class="business_text">COPY</span>
        </div>
        <div class="l-about__point-area art pc">
          <span class="business_text">ART / DESIGN</span>
          <span class="business_point"></span>
        </div>
        <div class="l-about__point-area art sp">
          <span class="business_point"></span>
          <span class="business_text">ART / DESIGN</span>
        </div>
        <div class="l-about__point-area digital">
          <span class="business_point"></span>
          <span class="business_text">DIGITAL</span>
        </div>
        <div class="l-about__point-area cast">
          <span class="business_point"></span>
          <span class="business_text">CASTING</span>
        </div>
        <div class="l-about__point-area plan pc">
          <span class="business_point"></span>
          <span class="business_text">PLANING</span>
        </div>
        <div class="l-about__point-area plan sp">
          <span class="business_text">PLANING</span>
          <span class="business_point"></span>
        </div>
        <div class="l-about__point-area movie pc">
          <span class="business_point"></span>
          <span class="business_text">MOVIE</span>
        </div>
        <div class="l-about__point-area movie sp">
          <span class="business_text">MOVIE</span>
          <span class="business_point"></span>
        </div>
        <div class="l-about__point-area pr">
          <span class="business_text">PR / EVENT</span>
          <span class="business_point"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="l-about__profile">
    <h2>PROFILE</h2>
    <div class="l-about__wrapper l-about__profile__wrapper">
      <div class="l-about__profile__wrapper">
        <div class="l-about__profile__left">
          <h5 class="jp-font">
            <span class="official-position">Creative director / Artist</span>
            谷村 紀明
            <span class="en">Noriaki Tanimura</span>
          </h5>
          <p>1988年、京都生まれ。外資系広告代理店を経て、
            2019年11月 株式会社HONNOW（ホンノウ）を設立。
            ナショナルクライアントからスタートアップ企業まで、
            ブランディング、プロモーション活動におけるコンセプト開発、
            クリエイティブディレクション全般を得意領域とする。
            主に、TVCM、広告、CI・VI、デジタル領域、PR、ヘルスケアなど。<br><br>

            またアーティストとして、すべての“もの”や“こと”に含まれるエネルギー、
            自身のアイデンティティや空気感を作品に表現。
            自然や風土、文化の継承などをテーマとした、もののけアートを創作し活動。
            広告芸術誌「Lurzer’s ARCHIVE」の「世界ベスト200イラストレーター」に選出。
            『ウルトラマン55周年記念 ウルトラ怪獣もののけ絵巻展』
            『Pokémon Battle Festival Asia 2021 キービジュアルアート』
            『てんぷら妖怪 カプセルトイ』などを手がける。</p>
        </div>
        <div class="l-about__profile__right">
          <img src="<%- data.layer %>assets/img/about/tanimura.png" alt="">
        </div>
        <div class="l-about__profile__left">
          <h6>＜受賞歴：広告＞</h6>
          <ul>
            <li>・EXILE presents CREATOR BATTLE AUDITION／ファイナリスト</li>
            <li>・第86回 毎日広告デザイン賞／優秀賞</li>
            <li>・The Global Awards 2016／ファイナリスト</li>
            <li>・Coloring VOGUE Instagram Award 2016／グランプリ</li>
            <li>・第27回 京都広告賞／京都商工会議所会頭賞</li>
            <li>・Young Lions Health Award 2018／グローバルファイナリスト</li>
            <li>・Tambuli Awards 2018_Health and Wellness／グランプリ</li>
            <li>・Tambuli Awards 2018_Print／シルバー</li>
            <li>・AD STARS 2018/ New Stars AD Competition／シルバー</li>
            <li>・AD STARS 2018/ Outdoor／ブロンズ</li>
            <li>・GOOD DESIGN AWARD 2018</li>
            <li>・Creative Floor Healthcare Awards 2018</li>
            <li>・Epica Awards 2018_Health & Beauty／シルバー</li>
            <li>・Clio Health Awards 2018_Health & Wellness_Direct_Innovation_Public Relations／<br>ショートリスト</li>
            <li>・AME AWARD 2019 Direct & Collateral／Healthcare／Low-Budget／<br class="">ゴールド、Print／ブロンズ</li>
            <li>・Dubai Lynx 2019 Healthcare／ブロンズ、ショートリスト</li>
            <li>・Young Lions Competion 2019 Medeia／ファイナリスト</li>
            <li>・Young Lions Health Award 2019／グローバルファイナリスト</li>
            <li>・第67回 朝日広告賞／入選候補作に選出</li>
            <li>・Brandingi n Asia／One Under 30: Young Creative Spotlightに掲載</li>
            <li>・AD STARS 2019/ New Stars AD Competition／シルバー</li>
            <li>・D&AD 2019 ／ショートリスト</li>
            <li>・長野 信州ブランドアワード2019／グランプリ</li>
            <li>・第23回 文化庁メディア芸術祭 エンターテインメント部門 <br class="sp">審査委員会推薦作品に選出 など</li>
            <li>・第8回 環境省 グッドライフアワード 環境社会イノベーション賞</li>
            <li>・第6回 林野庁 ウッドデザイン賞 ソーシャルデザイン部門賞 など</li>
          </ul>
        </div>
        <div class="l-about__profile__right">
          <h6>＜出展歴：アート＞</h6>
          <ul>
            <li>・MONSTER Exhibition 2017／渋谷ヒカリエ、NYにて展示開催</li>
            <li>・ART BOOK OF SELECTED ILLUSTRATION Monster／冊子掲載</li>
            <li>・Lürzer’s ARCHIVE 200 Best Illustrators worldwide 18/19</li>
            <li>・日本☓ポーランド 国交樹立100周年記念 藝展／<br class="sp">京都 清水寺 圓通殿にて展示開催</li>
            <li>・3rd Christmas Art Competition in YOKOHAMAにて展示開催</li>
            <li>・やんばるアートフェスティバル 2018／<br class="sp">沖縄 大宜味村立旧塩屋小学校にて展示開催</li>
            <li>・COPIC AWARD 2019 次世代アーティスト賞 審査員</li>
            <li>・長野 戸隠もののけ祭り のぼり展示</li>
            <li>・トリドール（丸亀製麺本社）で初の個展開催</li>
            <li>・TENOHA DAIKANYAMA 跡地アートフェアイベント「GRADATION 代官山」</li>
            <li>・長野 戸隠 鏡池どんぐりハウスにて個展</li>
            <li>・銀座shina ウルトラマン55周年記念 ウルトラ怪獣もののけ絵巻展</li>
            <li>・てんぷら妖怪ガチャ展開</li>
            <li>・ワンダーフェスティバル2022［冬］出展 など</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="l-about__company">
    <h2>COMPANY</h2>
    <div class="l-about__wrapper l-about__company__wrapper">
      <div class="l-about__company__left">
        <dl>
          <dt>＜会社名＞</dt>
          <dd>株式会社 HONNOW ／ HONNOW Inc.</dd>
        </dl>
        <dl>
          <dt>＜設立日＞</dt>
          <dd>2019年11月7日</dd>
        </dl>
        <dl>
          <dt>＜所在地＞</dt>
          <dd>〒150-0042 <br class="sp">東京都渋谷区宇田川町19-5-1003</dd>
        </dl>
        <dl>
          <dt>＜代表者＞</dt>
          <dd>代表取締役 谷村紀明</dd>
        </dl>
        <dl>
          <dt>＜資本金＞</dt>
          <dd>5,000,000円</dd>
        </dl>
      </div>
      <div class="l-about__company__right">
        <h6>＜事業内容＞</h6>
        <ul>
          <li>・ブランドコンサルティング</li>
          <li>・プロモーション／キャンペーン／イベント企画立案</li>
          <li>・CM企画・制作</li>
          <li>・体験コンテンツ／ウェブサイト企画制作</li>
          <li>・商品／サービス企画開発</li>
          <li>・PRプランニング</li>
          <li>・ヘルスケアコミュニケーション</li>
          <li>・ライブコマース事業</li>
          <li>・インバウンド向けブランド開発</li>
          <li>・地方創生、土地活用のアイデア など</li>
        </ul>
      </div>
    </div>
    <div class="l-about__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.6218402347413!2d139.69732811533913!3d35.66168758019892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca8f7bcb631%3A0x2193752587c8c7ac!2z44CSMTUwLTAwNDIg5p2x5Lqs6YO95riL6LC35Yy65a6H55Sw5bed55S677yR77yZ4oiS77yV!5e0!3m2!1sja!2sjp!4v1652049329119!5m2!1sja!2sjp" width="900px" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div> -->
  <div class="l-arrow gray">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>
