<section class="l-work l-contents">
  <div class="l-work__wrapper">
    <h2>
      <span class="header-text work01">W</span>
      <span class="header-text work02">O</span>
      <span class="header-text work03">R</span>
      <span class="header-text work04">K</span>
    </h2>
    <div class="l-work__list">
      <ul>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/27.html">
              <img src="<%- data.layer %>assets/img/details/onodera/onodera_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/26.html">
              <img src="<%- data.layer %>assets/img/details/pokemon/pokemon_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/25.html">
              <img src="<%- data.layer %>assets/img/details/okumino/okumino_00.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/23.html">
              <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_00.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/36.html">
              <img src="<%- data.layer %>assets/img/details/vogue/vogue_02.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/21.html">
              <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/37.html">
              <img src="<%- data.layer %>assets/img/details/archive/archive_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/38.html">
              <img src="<%- data.layer %>assets/img/details/highclass/vstar01.png" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/33.html">
              <img src="<%- data.layer %>assets/img/details/koukoku_27/kyoto-ad_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/39.html">
              <img src="<%- data.layer %>assets/img/details/rule_song/song01.png" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/34.html">
              <img src="<%- data.layer %>assets/img/details/mainichi_81/mainichi-ad_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/13.html">
              <img src="<%- data.layer %>assets/img/details/shueisha/mask_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/14.html">
              <img src="<%- data.layer %>assets/img/details/sss/sss_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/40.html">
              <img src="<%- data.layer %>assets/img/details/kaminoshio/kaminoshio_01.png" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/29.html">
              <img src="<%- data.layer %>assets/img/details/icc/icc_logo_03.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/03.html">
              <img src="<%- data.layer %>assets/img/details/washable_book/washable_book_01.png" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/04.html">
              <img src="<%- data.layer %>assets/img/details/gokuraku/gokuraku_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/30.html">
              <img src="<%- data.layer %>assets/img/details/kone/kone-logo.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/41.html">
              <img src="<%- data.layer %>assets/img/details/saido/sd_01.jpg" alt="">
            </a>
          </div>
        </li>
        <!-- <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/07.html">
              <img src="<%- data.layer %>assets/img/details/mononoke/mononoke_01.jpg" alt="">
            </a>
          </div>
        </li> -->
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/31.html">
              <img src="<%- data.layer %>assets/img/details/marukin/marukin_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/09.html">
              <img src="<%- data.layer %>assets/img/details/fuwa_natural/fuwa_natural_01.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/10.html">
              <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_00.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/24.html">
              <img src="<%- data.layer %>assets/img/details/tokotoko/tokotokotagaran_01.jpg" alt="">
            </a>
          </div>
        </li>
        <!-- <li>
          <div class="l-work__block c-work__block">
            <a href="<%- data.layer %>details/32.html">
              <img src="<%- data.layer %>assets/img/details/mamoru/mamoru_logo_01.jpg" alt="">
            </a>
          </div>
        </li> -->
        <!-- <li>
          <div class="l-work__block l-work__block__full c-work__block ">
            <a href="<%- data.layer %>details/11.html">
              <img src="<%- data.layer %>assets/img/details/work11.png" alt="" class="pc">
              <img src="<%- data.layer %>assets/img/details/work-sp11.png" alt="" class="sp">
              <img src="<%- data.layer %>assets/img/details/work11.png" alt="" class="tb">
              <div class="l-work__text">
                <div class="l-work__bg"></div>
                <p class="p-work__client">Disney</p>
                <p class="p-work__works">FAN ART</p>
              </div>
            </a>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="l-arrow gray">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>
