<section class="l-shop l-contents">
  <div class="l-shop__wrapper">
    <h2>
      <span class="header-text shop01">S</span>
      <span class="header-text shop02">H</span>
      <span class="header-text shop03">O</span>
      <span class="header-text shop04">P</span>
    </h2>
    <div class="l-shop__list">
      <ul>
        <li>
          <a href="https://sumoguri.paintory.com/product/pmt002-12670-00043/?variation_id=1965" target="_blank">
            <img src="<%- data.layer %>assets/img/shop/01.png" alt="">
            <div class="l-shop__text">
              <p class="goods-name">TEMPURA YOKAI <br>T-shirts</p>
              <p class="goods-tag">#ebi</p>
            </div>
          </a>
        </li>
        <li>
          <a href="https://sumoguri.paintory.com/product/pmt002-12670-00029/?variation_id=1830" target="_blank">
            <img src="<%- data.layer %>assets/img/shop/02.png" alt="">
            <div class="l-shop__text">
              <p class="goods-name">TEMPURA YOKAI <br>T-shirts</p>
              <p class="goods-tag">#shiitake</p>
            </div>
          </a>
        </li>
        <li>
          <a href="https://sumoguri.paintory.com/product/pmt002-12670-00042/?variation_id=1958" target="_blank">
            <img src="<%- data.layer %>assets/img/shop/03.png" alt="">
            <div class="l-shop__text">
              <p class="goods-name">TEMPURA YOKAI <br>T-shirts</p>
              <p class="goods-tag">#youngcorn</p>
            </div>
          </a>
        </li>
        <li class="coming">
          <a href="#" target="_blank">
            <img src="<%- data.layer %>assets/img/shop/04.png" alt="">
            <div class="l-shop__text">
              <p class="goods-name">Idea <br>T-shirts</p>
              <p class="goods-tag">#moonbuttun</p>
            </div>
            <div class="coming-soon">coming soon...</div>
          </a>
        </li>
        <li class="coming">
          <a href="#" target="_blank">
            <img src="<%- data.layer %>assets/img/shop/05.png" alt="">
            <div class="l-shop__text">
              <p class="goods-name">Idea T-shirts</p>
              <p class="goods-tag">#sumidako</p>
            </div>
            <div class="coming-soon">coming soon...</div>
          </a>
        </li>
        <li class="pc">
          <img src="<%- data.layer %>assets/img/shop/plus.png" alt="">
          <div class="l-shop__text">
            <p class="goods-name">coming soon...</p>
            <p class="goods-tag"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="l-arrow gray">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>
