<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details en">M</span><span class="c-sub-name-details en">A</span><span class="c-sub-name-details en">R</span><span class="c-sub-name-details en">U</span><span class="c-sub-name-details en">K</span><span class="c-sub-name-details en">I</span><span class="c-sub-name-details en">N</span></span>
    <h2><span class="c-name-details">木</span><span class="c-name-details">の</span><span class="c-name-details">子</span><span class="c-name-details">え</span><span class="c-name-details">の</span><span class="c-name-details">き</span></h2>
    <div class="l-details__web">
      <a href="https://www.marukin.jp" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle">
    <!-- Slider全体のコンテナ -->
    <div class="swiper-container">
      <!-- Sliderの内包コンテナ -->
      <div class="swiper-wrapper">
        <!-- Slideさせたいコンテンツ -->
        <div class="swiper-slide"><img src="<%- data.layer %>assets/img/details/05.png" alt=""></div>
        <div class="swiper-slide"><img src="<%- data.layer %>assets/img/details/04.png" alt=""></div>
        <div class="swiper-slide"><img src="<%- data.layer %>assets/img/details/03.png" alt=""></div>
        <div class="swiper-slide"><img src="<%- data.layer %>assets/img/details/02.png" alt=""></div>
      </div>
      <!-- ページネーション（※省略可） -->
      <div class="swiper-pagination"></div>

    </div>
    <!-- <p>数ある品種の中で唯一、国産原材料を使用した<br class="sp">えのきとして認定されたのが”木の子えのき”。<br>
      天然のきのこが育つ環境に着目し、<br class="sp">丁寧に栽培を行っています。<br>
    HONNOWは企画から、ビジネスモデルの開発、<br class="sp">クリエイティブディレクションを<br class="sp">お手伝いさせていただきました。</p> -->
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">MARUKIN</span>
    </h3>
    <div class="l-details__credits">
      <dl class="full-short">
        <dt>General Manager</dt>
        <dd>Keisuke Kaneko（MARUKIN Inc.）</dd>
      </dl>
      <dl class="full-short">
        <dt>Creative Director</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


