<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">新</span><span class="c-sub-name-details">潟</span><span class="c-sub-name-details">県</span><span class="c-sub-name-details">小</span><span class="c-sub-name-details">千</span><span class="c-sub-name-details">谷</span><span class="c-sub-name-details">市 極</span><span class="c-sub-name-details">楽</span><span class="c-sub-name-details">寺</span></span>
    <h2><span class="c-name-details">極</span><span class="c-name-details">楽</span><span class="c-name-details">浄</span><span class="c-name-details">土</span><span class="c-name-details">A</span><span class="c-name-details">R</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">A</span><span class="c-sub-name-bottom-details en">R</span></span>
    <!-- <div class="l-details__web">
      <a href="https://techpla.com/products/gokurakujodo_ar/" target="_blank">WEB</a>
    </div> -->
  </div>
  <div class="l-details__middle">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/gokuraku/gokuraku_01.jpg" alt="" class="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/gokuraku/gokuraku_02.jpg" alt="" class="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/gokuraku/gokuraku_03.jpg" alt="" class="">
    </div>
    <div class="l-details__block block04 mt-40">
      <img src="<%- data.layer %>assets/img/details/gokuraku/gokuraku_04.jpg" alt="" class="">
    </div>
    <div class="l-details__block block05 mt-40">
      <img src="<%- data.layer %>assets/img/details/gokuraku/gokuraku_05.jpg" alt="" class="">
    </div>
    <div class="l-details__block block06 mt-40">
      <img src="<%- data.layer %>assets/img/details/gokuraku/gokuraku_06.jpg" alt="" class="">
    </div>
    <div class="l-details__movie block01 mt-40">
      <video controls="" height="auto" width="1080" id="video">
        <source src="<%- data.layer %>assets/movie/ar-gokuraku.mp4" onclick="this.play();" />
      </video>
      <div class="l-details__movie__thumbnail"><img src="<%- data.layer %>assets/img/details/thumbnail/07.png" alt=""></div>
      <div id="video-btn" class="l-details__movie__video-btn"><img src="<%- data.layer %>assets/img/common/icon_movie.svg"
          alt=""></div>
    </div>
    <!-- <p>極楽浄土ARは、極楽浄土の哲学をAR技術で<br class="sp">可視化した「見える法話」です。<br>
    本堂内陣の阿弥陀如来像や彫刻が持つ歴史や<br class="sp">役割を、<br class="pc">
    視覚的に表現することで、法話で語られる<br class="sp">世界への深い理解を促します。<br>
    檀家と寺のつながりを強くすることを目的に、<br class="sp">新しい法話の在り方を模索し、かたちにしました。
    </p> -->
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">GOKURAKUJI TEMPLE</span>
    </h3>
    <div class="l-details__credits">
      <dl>
        <dt>General Manager</dt>
        <dd>Kojun Asada</dd>
      </dl>
      <dl>
        <dt>Creative Director</dt>
        <dd>Akane Kikuchi（Akane Kikuchi Design）</dd>
      </dl>
      <dl>
        <dt>Artist</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
      <dl>
        <dt>Product Designer</dt>
        <dd>Taku Omura</dd>
      </dl>
      <dl>
        <dt>Director</dt>
        <dd>Yow Sakuma</dd>
      </dl>
      <dl>
        <dt>Engineer</dt>
        <dd>Tatsuya Kido</dd>
      </dl>
      <dl>
        <dt>Producer</dt>
        <dd>Hiromi Morita</dd>
      </dl>
      <dl>
        <dt>Producer</dt>
        <dd>Ohya Takuma</dd>
      </dl>
      <dl>
        <dt>Assistant</dt>
        <dd>Mizuki Kikuchi</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


