<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details en">T</span><span class="c-sub-name-details en">O</span><span class="c-sub-name-details en">R</span><span class="c-sub-name-details en">I</span><span class="c-sub-name-details en">D</span><span class="c-sub-name-details en">O</span><span class="c-sub-name-details en">L</span><span class="c-sub-name-details en">L</span></span>
    <h2><span class="c-name-details">て</span><span class="c-name-details">ん</span><span class="c-name-details">ぷ</span><span class="c-name-details">ら</span><span class="c-name-details">妖</span><span class="c-name-details">怪</span><span class="c-name-details">ア</span><span class="c-name-details">ー</span><span class="c-name-details">ト</span><span class="c-name-details">展</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">E</span><span class="c-sub-name-bottom-details en">v</span><span class="c-sub-name-bottom-details en">e</span><span class="c-sub-name-bottom-details en">n</span><span class="c-sub-name-bottom-details en">t</span></span>
    <!-- <div class="l-details__web">
      <a href="https://www.toridoll.com" target="_blank">WEB</a>
    </div> -->
  </div>
  <div class="l-details__middle">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_00.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_01.jpg" alt="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_02.jpg" alt="">
    </div>
    <div class="l-details__block block04 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_03.jpg" alt="">
    </div>
    <div class="l-details__block block05 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_04.jpg" alt="">
    </div>
    <div class="l-details__block block06 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_05.jpg" alt="">
    </div>
    <div class="l-details__block block07 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_06.jpg" alt="">
    </div>
    <div class="l-details__block block08 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_07.jpg" alt="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


