<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details en">B</span><span class="c-sub-name-details en">A</span><span class="c-sub-name-details en">N</span><span class="c-sub-name-details en">D</span><span class="c-sub-name-details en">A</span><span class="c-sub-name-details en">I N</span><span class="c-sub-name-details en">A</span><span class="c-sub-name-details en">M</span><span class="c-sub-name-details en">C</span><span class="c-sub-name-details en">O</span></span>
    <h2 class="lh-13"><span class="c-name-details">ゴ</span><span class="c-name-details">ム</span><span class="c-name-details">ゴ</span><span class="c-name-details">ム</span><span class="c-name-details">の</span><span class="c-name-details">マ</span><span class="c-name-details">ス</span><span class="c-name-details">ク</span><span class="c-name-details">イ</span><span class="c-name-details">ヤ</span><span class="c-name-details">ー</span><span class="c-name-details">ガ</span><span class="c-name-details">ー</span><span class="c-name-details">ド</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">P</span><span class="c-sub-name-bottom-details en">R</span></span>
    <!-- <div class="l-details__web">
      <a href="https://secured.disney.co.jp/dcc/lp/dcc.html" target="_blank">WEBSITE</a>
    </div> -->
  </div>
  <div class="l-details__middle">
    <!-- <div class="l-details__movie">
      <video controls="" height="auto" width="1080" id="video">
        <source src="<%- data.layer %>assets/movie/gomugomu.mov" onclick="this.play();" />
      </video>
      <div class="l-details__movie__thumbnail"><img src="<%- data.layer %>assets/img/details/thumbnail/10.png" alt=""></div>
      <div id="video-btn" class="l-details__movie__video-btn"><img src="<%- data.layer %>assets/img/common/icon_movie.svg"
          alt=""></div>
    </div> -->
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/shueisha/mask_01.jpg" alt="" class="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/shueisha/mask_02.jpg" alt="" class="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/shueisha/mask_03.jpg" alt="" class="">
    </div>
    
    <!-- <p class="ta-left">世界的なパンデミックを受け、マスクの着用はもはや必須とも言える社会へと変化してしまいました。<br>
    しかし、長時間マスクを身につけることによる、<br class="sp">耳への負担が気になっている人も<br class="sp">多いのではないでしょうか。<br>
    マスクの着用は決して楽しい行為ではないため、<br class="sp">子どもがつけたがらないといったケースも<br class="sp">散見されます。<br>
    このように、マスクの着用は心身に小さくない<br class="sp">ストレスを与えてしまっています。<br><br>
    世界初！『ONE PIECE』の<br class="sp">フィギュア制作を行う"ZERO STUDIO”と、<br>
    クリエイティブエージェンシー”HONNOW”が、<br class="sp">ルフィをモデリングした<br class="sp">”ゴムゴムのマスクイヤーガード"を開発！<br>
    3Dプリンタで出力できるデータを1ヶ月限定で<br class="sp">無償公開します。<br>
    どこでも、誰でも、簡単に出力可能。<br class="sp">さあ、ルフィと一緒に毎日を楽しもう！<br class="sp">※3DデータはSTL形式となります。<br><br>
    ダウンロードページ：<a href="https://www.artpresto.co.jp/stl-earguard.html" target="_blank">https://www.artpresto.co.jp/stl-earguard.html</a></p> -->
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">ARTPRESTO Inc.</span>
    </h3>
    <div class="l-details__credits">
      <dl>
        <dt>Modeler</dt>
        <dd>Noriyuki Yamaguchi（ZERO STUDIO）</dd>
      </dl>
      <dl>
        <dt>Creative Director</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
      <dl>
        <dt>Copywriter</dt>
        <dd>Syuhei Okazawa（971）</dd>
      </dl>
      <dl>
        <dt>PR/Technologist</dt>
        <dd>Yusuke Narushima（HONNOW Inc.）</dd>
      </dl>
      <dl>
        <dt>Photographer</dt>
        <dd>Gozaoka Hiroshi</dd>
      </dl>
      <dl>
        <dt>Music</dt>
        <dd>TETRAPOT</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


