<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">円</span><span class="c-sub-name-details">谷</span><span class="c-sub-name-details">プ</span><span class="c-sub-name-details">ロ</span><span class="c-sub-name-details">／</span><span class="c-sub-name-details">ウ</span><span class="c-sub-name-details">ル</span><span class="c-sub-name-details">ト</span><span class="c-sub-name-details">ラ</span><span class="c-sub-name-details">マ</span><span class="c-sub-name-details">ン</span><span class="c-sub-name-details">5</span><span class="c-sub-name-details">5</span><span class="c-sub-name-details">周</span><span class="c-sub-name-details">年</span><span class="c-sub-name-details">記</span><span class="c-sub-name-details">念</span><span class="c-sub-name-details">企</span><span class="c-sub-name-details">画</span></span>
    <h2><span class="c-name-details">ウ</span><span class="c-name-details">ル</span><span class="c-name-details">ト</span><span class="c-name-details">ラ</span><span class="c-name-details">怪</span><span class="c-name-details">獣</span><span class="c-name-details">も</span><span class="c-name-details">の</span><span class="c-name-details">の</span><span class="c-name-details">け</span><span class="c-name-details">絵</span><span class="c-name-details">巻</span><span class="c-name-details">展</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">P</span><span class="c-sub-name-bottom-details en">r</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">m</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">t</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">n</span></span>
    <!-- <div class="l-details__web">
      <a href="https://www.shina-ginza.jp/kaijuemaki/" target="_blank">WEB</a>
    </div> -->
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_01.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_02.jpg" alt="" class="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_03.jpg" alt="" class="">
    </div>
    <div class="l-details__block block04 mt-40">
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_04.jpg" alt="" class="">
    </div>
    <div class="l-details__block block05 mt-40">
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_05.jpg" alt="" class="">
    </div>
    <div class="l-details__block block06 mt-40">
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_06.jpg" alt="" class="">
    </div>
    <div class="l-details__block block07 mt-40">
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_07.jpg" alt="" class="">
    </div>
    <div class="l-details__block block08 mt-40">
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_08.jpg" alt="" class="">
    </div>
    <!-- <div class="l-details__movie mt-40">
      <video controls="" height="auto" width="1080" id="video">
        <source src="<%- data.layer %>assets/movie/mononoke_emaki.mp4" onclick="this.play();" />
      </video>
      <div class="l-details__movie__thumbnail"><img src="<%- data.layer %>assets/img/details/thumbnail/13.png" alt=""></div>
      <div id="video-btn" class="l-details__movie__video-btn"><img src="<%- data.layer %>assets/img/common/icon_movie.svg"
          alt=""></div>
    </div> -->
    <!-- <p class="pc">「もしもウルトラ怪獣たちが 、555年前の日本にもあらわれ、<br>
    その記録が絵巻として残っていたら・・・？」<br><br>
    そんな空想を膨らませながら創作したのが<br>
    「ウルトラ怪獣もののけ絵巻」です。<br><br>
    今年放送55周年を迎えた『 ウルトラQ』、『ウルトラマン』。<br>
    両作品に登場する約80体もの怪獣たちが“もののけ”に姿を変え、<br>
    10m以上にも及ぶ絵巻の中を大行進。<br>
    自然素材から生み出された特殊な画材によって描かれた<br>
    前例のないスケールのアート作品が誕生しました。<br><br>
    日本古来の「もののけ」と、世界に誇る「怪獣」が融合した<br>
    新解釈のアートプロジェクトが、<br>
    ウルトラマンとウルトラ怪獣のアニバーサリーを彩ります。<br><br>
    特設サイト：<a href="https://www.shina-ginza.jp/kaijuemaki/">https://www.shina-ginza.jp/kaijuemaki/</a><br>
    円谷公式サイト：<a href="https://m-78.jp/news/post-6071">https://m-78.jp/news/post-6071</a></p>
    <p class="sp">「もしもウルトラ怪獣たちが 、<br class="sp">555年前の日本にもあらわれ、<br>
      その記録が絵巻として残っていたら・・・？」<br><br>
      そんな空想を膨らませながら創作したのが<br>
      「ウルトラ怪獣もののけ絵巻」です。<br><br>
      今年放送55周年を迎えた<br class="sp">『 ウルトラQ』、『ウルトラマン』。<br>
      両作品に登場する約80体もの怪獣たちが<br class="sp">“もののけ”に姿を変え、<br>
      10m以上にも及ぶ絵巻の中を大行進。<br>
      自然素材から生み出された<br class="sp">特殊な画材によって描かれた<br>
      前例のないスケールのアート作品が誕生しました。<br><br>
      日本古来の「もののけ」と、<br class="sp">世界に誇る「怪獣」が融合した<br>
      新解釈のアートプロジェクトが、<br>
      ウルトラマンとウルトラ怪獣の<br class="sp">アニバーサリーを彩ります。<br><br>
      特設サイト<br>
      <a href="https://www.shina-ginza.jp/kaijuemaki/">https://www.shina-ginza.jp/kaijuemaki/</a><br>
      円谷公式サイト<br>
      <a href="https://m-78.jp/news/post-6071">https://m-78.jp/news/post-6071</a></p> -->
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">TSUBURAYA PRODUCTIONS</span>
    </h3>
    <div class="l-details__credits">
      <dl>
        <dt>Creative Direction & Art</dt>
        <dd>Noriaki Tanimura（HONNOW）</dd>
      </dl>
      <dl>
        <dt>Producer</dt>
        <dd>Imaichi Yasuhiro（INFINITY STYLE）</dd>
      </dl>
      <dl>
        <dt>Director</dt>
        <dd>Nakamura Ryo（INFINITY STYLE / SOEN TO KIDEN）</dd>
      </dl>
      <dl>
        <dt>Director</dt>
        <dd>Hyouri Takahashi（SOEN TO KIDEN）</dd>
      </dl>
      <dl>
        <dt>Photographer</dt>
        <dd>Gozaoka Hiroshi</dd>
      </dl>
    </div>
  </div> -->
  <!-- <div class="l-details__bottom">
    <h3>CREDITS</h3>
    <div class="l-details__credits">
      <dl>
        <dt class="w140">Artist</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
      <dl>
        <dt class="w140">Producer</dt>
        <dd>Imaichi Yasuhiro（株式会社インフィニティスタイル）</dd>
      </dl>
      <dl>
        <dt class="w140">Director</dt>
        <dd>Nakamura Ryo（株式会社インフィニティスタイル）</dd>
      </dl>
      <dl>
        <dt class="w140">Director</dt>
        <dd>Hyouri Takahashi</dd>
      </dl>
      <dl>
        <dt class="w140">Music</dt>
        <dd>SOEN TO KIDEN</dd>
      </dl>
      <dl>
        <dt class="w140">Photographer</dt>
        <dd>Gozaoka Hiroshi</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


