<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details en">Q</span><span class="c-sub-name-details en">u</span><span class="c-sub-name-details en">a</span><span class="c-sub-name-details en">l</span><span class="c-sub-name-details en">i</span><span class="c-sub-name-details en">a</span><span class="c-sub-name-details en">／</span><span class="c-sub-name-details en">K</span><span class="c-sub-name-details en">L</span><span class="c-sub-name-details en">A</span><span class="c-sub-name-details en">M</span><span class="c-sub-name-details en">P S</span><span class="c-sub-name-details en">T</span><span class="c-sub-name-details en">U</span><span class="c-sub-name-details en">D</span><span class="c-sub-name-details en">I</span><span class="c-sub-name-details en">O</span></span>
    <h2><span class="c-name-details">て</span><span class="c-name-details">ん</span><span class="c-name-details">ぷ</span><span class="c-name-details">ら</span><span class="c-name-details">妖</span><span class="c-name-details">怪</span><span class="c-name-details">カ</span><span class="c-name-details">プ</span><span class="c-name-details">セ</span><span class="c-name-details">ル</span><span class="c-name-details">ト</span><span class="c-name-details">イ</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">P</span><span class="c-sub-name-bottom-details en">r</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">m</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">t</span><span class="c-sub-name-bottom-details en">i</span><span class="c-sub-name-bottom-details en">o</span><span class="c-sub-name-bottom-details en">n</span></span>
    <div class="l-details__web">
      <a href="https://qualia-45.jp/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_00.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_01.jpg" alt="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_02.jpg" alt="">
    </div>
    <div class="l-details__block block04 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_03.jpg" alt="">
    </div>
    <div class="l-details__block block05 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_04.jpg" alt="">
    </div>
    <div class="l-details__block block06 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_05.jpg" alt="">
    </div>
    <div class="l-details__block block07 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_06.jpg" alt="">
    </div>
    <div class="l-details__block block08 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_07.jpg" alt="">
    </div>
    <div class="l-details__block block09 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_08.jpg" alt="">
    </div>
    <div class="l-details__block block10 mt-40">
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_09.jpg" alt="">
    </div>
    <!-- <img src="<%- data.layer %>assets/img/details/coming_bg.png" alt="" class="mt-40"> -->
    <div class="l-details__movie block01 mt-40">
      <iframe class="pc" width="100%" height="800" src="https://www.youtube.com/embed/vfUA1DO8qko" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <!-- <iframe class="sp" width="100%" height="100%" src="https://www.youtube.com/embed/vfUA1DO8qko" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> -->
      <!-- <video controls="" height="auto" width="1080" id="video">
        <source src="<%- data.layer %>assets/movie/onodera.mp4" onclick="this.play();" />
      </video> -->
      <!-- <div class="l-details__movie__thumbnail"><img src="<%- data.layer %>assets/img/details/thumbnail/12.png" alt=""></div>
      <div id="video-btn" class="l-details__movie__video-btn"><img src="<%- data.layer %>assets/img/common/icon_movie.svg"
          alt=""></div> -->
    </div>
    <!-- <p class="pc">「てんぷら妖怪 マスコットフィギュア」<br><br>
    発売元:株式会社 Qualia<br>
    発売日:2021年12月22日(水)<br>
    価格:1回400円(税込)・全6種<br>
    販売場所:全国のカプセルトイ売り場、専門店にて<br><br>
    てんぷら妖怪 公式サイト:<a href="https://honnow-tokyo.com/tempura-yokai">https://honnow-tokyo.com/tempura-yokai</a><br>
    公式YouTubeチャンネル:<a href="https://youtu.be/lqh3g8atgkM">https://youtu.be/lqh3g8atgkM</a></p>
    <p class="sp">「てんぷら妖怪 マスコットフィギュア」<br><br>
      発売元:株式会社 Qualia<br>
      発売日:2021年12月22日(水)<br>
      価格:1回400円(税込)・全6種<br>
      販売場所:全国のカプセルトイ売り場、専門店にて<br><br>
      てんぷら妖怪 公式サイト<br>
      <a href="https://honnow-tokyo.com/tempura-yokai">https://honnow-tokyo.com/tempura-yokai</a><br>
      公式YouTubeチャンネル<br>
      <a href="https://youtu.be/lqh3g8atgkM">https://youtu.be/lqh3g8atgkM</a></p> -->
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">Qualia</span>
    </h3>
    <div class="l-details__credits">
      <dl>
        <dt>Creative Director</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
      <dl>
        <dt>Modeler</dt>
        <dd>Noriyuki Yamaguchi（ZERO STUDIO）</dd>
      </dl>
      <dl>
        <dt>Photographer</dt>
        <dd>Gozaoka Hiroshi</dd>
      </dl>
      <dl>
        <dt>Music</dt>
        <dd>SOEN TO KIDEN</dd>
      </dl>
      <dl>
        <dt>Producer</dt>
        <dd>Takuro Sekiguchi（Onion Inc.）</dd>
      </dl>
      <dl>
        <dt>Producer Manager</dt>
        <dd>Seiya Mizukami（Onion Inc.）</dd>
      </dl>
      <dl>
        <dt>Director</dt>
        <dd>Takashi Tsuji</dd>
      </dl>
      <dl>
        <dt>Web Director</dt>
        <dd>Motoki Sado</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


