<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">奥</span><span class="c-sub-name-details">美</span><span class="c-sub-name-details">濃</span><span class="c-sub-name-details">カ</span><span class="c-sub-name-details">レ</span><span class="c-sub-name-details">ー</span><span class="c-sub-name-details">協</span><span class="c-sub-name-details">同</span><span class="c-sub-name-details">組</span><span class="c-sub-name-details">合</span></span>
    <h2><span class="c-name-details">奥</span><span class="c-name-details">美</span><span class="c-name-details">濃</span><span class="c-name-details">カ</span><span class="c-name-details">レ</span><span class="c-name-details">ー</span><span class="c-name-details">妖</span><span class="c-name-details">怪</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">P</span><span class="c-sub-name-bottom-details en">R</span></span>
    <div class="l-details__web">
      <a href="https://www.okuminocurry.com/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/okumino/okumino_00.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/okumino/okumino_01.jpg" alt="" class="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/okumino/okumino_02.jpg" alt="" class="">
    </div>
    <div class="l-details__block block04 mt-40">
      <img src="<%- data.layer %>assets/img/details/okumino/okumino_03.jpg" alt="" class="">
    </div>
    <div class="l-details__block block05 mt-40">
      <img src="<%- data.layer %>assets/img/details/okumino/okumino_04.jpg" alt="" class="">
    </div>
    <div class="l-details__block block06 mt-40">
      <img src="<%- data.layer %>assets/img/details/okumino/okumino_05.jpg" alt="" class="">
    </div>
    <div class="l-details__block block07 mt-40">
      <img src="<%- data.layer %>assets/img/details/okumino/okumino_06.jpg" alt="" class="">
    </div>
    <!-- <p>ご当地食材「郡上（ぐじょう）味噌」を隠し味にした濃厚で深みのある味わいの「奥美濃カレー」の妖怪は全６体。お店ごとのレシピによって様々な姿かたちをしている妖怪はそれぞれに奥深い味わいがあります。<br><br>
    地元食材を活用した地域活性化と安心・安全の取組みを行う奥美濃カレー協同組合は1月22日のカレーの日に、奥美濃のご当地カレーが美味しく化けた妖怪キャラクター「奥美濃カレー妖怪」を発表いたします。私たちはこれからも、ご当地カレーが美味しく化けた「奥美濃カレー妖怪」の認知を広げることで、さらに奥美濃カレーを提供できる店舗を増やし、地域活性化に取り組んでまいります。
    <br><br>
    PRリリース:<br class="sp"><a href="https://prtimes.jp/main/html/rd/p/000000001.000093674.html">https://prtimes.jp/main/html/rd/p/000000001.000093674.html</a>
</p> -->
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">OKUBINO CURRY COOPERATIVE</span>
    </h3>
    <div class="l-details__credits">
      <dl>
        <dt class="">Creative Director & Art</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


