<section class="l-details l-contents">
  <div class="l-details__top">
    <span>
      <span class="c-sub-name-details">ポ</span><span class="c-sub-name-details">ケ</span><span class="c-sub-name-details">モ</span><span class="c-sub-name-details">ン</span><span class="c-sub-name-details">カ</span><span class="c-sub-name-details">ー</span><span class="c-sub-name-details">ド</span><span class="c-sub-name-details">ゲ</span><span class="c-sub-name-details">ー</span><span class="c-sub-name-details">ム</span>
    </span>
    <h2 class="pokemon">
      <span class="c-name-details en">B</span><span class="c-name-details en">a</span><span class="c-name-details en">t</span><span class="c-name-details en">t</span><span class="c-name-details en">l</span><span class="c-name-details en">e F</span><span class="c-name-details en">e</span><span class="c-name-details en">s</span><span class="c-name-details en">t</span><span class="c-name-details en">i</span><span class="c-name-details en">v</span><span class="c-name-details en">a</span><span class="c-name-details en">l A</span><span class="c-name-details en">s</span><span class="c-name-details en">i</span><span class="c-name-details en">a 2</span><span class="c-name-details en">0</span><span class="c-name-details en">2</span><span class="c-name-details en">1</span>
    </h2>
    <span class="bottom">
      <span class="c-sub-name-bottom-details en">E</span><span class="c-sub-name-bottom-details en">v</span><span class="c-sub-name-bottom-details en">e</span><span class="c-sub-name-bottom-details en">n</span><span class="c-sub-name-bottom-details en">t</span>
    </span>
    <div class="l-details__web">
      <a href="https://pokemonbattlefest.com/pokemon-trading-card-game/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/pokemon/pokemon_01.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/pokemon/pokemon_02.jpg" alt="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/pokemon/pokemon_03.jpg" alt="">
    </div>
    <div class="l-details__block block05 mt-40">
      <img src="<%- data.layer %>assets/img/details/pokemon/pokemon_05.jpg" alt="">
    </div>
    <div class="l-details__block block06 mt-40">
      <img src="<%- data.layer %>assets/img/details/pokemon/pokemon_06.jpg" alt="">
    </div>
    <!-- <img src="<%- data.layer %>assets/img/details/34.png" alt="">
    <img src="<%- data.layer %>assets/img/details/33.png" alt="" class="mt-40"> -->
    <!-- <p>ポケモンバトルフェスティバルアジア2021。<br>
    対戦コンテンツを主軸とした、オンラインイベントをアジアを対象とし開催。<br><br>
    PBFA2021 公式サイト:<br class="sp"><a href="https://pokemonbattlefest.com/pokemon-trading-card-game/">https://pokemonbattlefest.com/pokemon-trading-card-game/</a>
</p> -->
  </div>
  <!-- <div class="l-details__block credits">
    <h3>Client
      <span class="client">The Pokémon Company</span>
    </h3>
    <div class="l-details__credits">
      <dl>
        <dt class="">Creative Director & Art</dt>
        <dd>Noriaki Tanimura（HONNOW Inc.）</dd>
      </dl>
    </div>
  </div> -->
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>


