<section class="l-details l-contents">
  <div class="l-details__top">
    <span><span class="c-sub-name-details">JAPAN HOUSE Restaurant</span></span>
    <h2><span class="c-name-details">SAIDO’s Vegan Way</span></h2>
    <span class="bottom"><span class="c-sub-name-bottom-details en">Art Direction</span></span>
    <div class="l-details__web">
      <a href="https://www.japanhousela.com/events/saidos-vegan-way-japanese-chef-katsumi-kusumoto-popup/" target="_blank">WEB</a>
    </div>
  </div>
  <div class="l-details__middle one-contents">
    <div class="l-details__block block01">
      <img src="<%- data.layer %>assets/img/details/saido/sd_01.jpg" alt="">
    </div>
    <div class="l-details__block block02 mt-40">
      <img src="<%- data.layer %>assets/img/details/saido/sd_02.jpg" alt="" class="">
    </div>
    <div class="l-details__block block03 mt-40">
      <img src="<%- data.layer %>assets/img/details/saido/sd_03.jpg" alt="" class="">
    </div>
    <div class="l-details__block block04 mt-40">
      <img src="<%- data.layer %>assets/img/details/saido/sd_04.jpg" alt="" class="">
    </div>
    <div class="l-details__block block05 mt-40">
      <img src="<%- data.layer %>assets/img/details/saido/sd_05.jpg" alt="" class="">
    </div>
  </div>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>



