<section class="l-kv">
  <div class="l-kv__text pc">
    <span class="how">
      <span class="how_l">
        <img src="<%- data.layer %>assets/img/common/text_w_l.svg" alt="how" class="l-kv__img how_w_l">
      </span>
      <span class="ho">
        <img src="<%- data.layer %>assets/img/common/text_h.svg" alt="how" class="l-kv__img how_h">
        <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="how" class="l-kv__img how_o">
      </span>
      <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="how" class="l-kv__img how_w">
    </span>
    <span class="to">
      <img src="<%- data.layer %>assets/img/common/text_t.svg" alt="how" class="l-kv__img to_t">
      <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="how" class="l-kv__img to_o">
    </span>
    <span class="wow">
      <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="how" class="l-kv__img wow_w_01">
      <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="how" class="l-kv__img wow_o">
      <span class="ow">
        
        <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="how" class="l-kv__img wow_w_02">
      </span>
    </span>
    <!-- <img src="<%- data.layer %>assets/img/top/kv-logo01.svg" alt="how" class="l-kv__img how">
    <img src="<%- data.layer %>assets/img/top/kv-logo02.svg" alt="to" class="l-kv__img to">
    <img src="<%- data.layer %>assets/img/top/kv-logo03.svg" alt="wow" class="l-kv__img wow"> -->
    <!-- <img src="<%- data.layer %>assets/img/common/logo.svg" alt="honnow" class="l-kv__img honnow_logo"> -->
  </div>
  <div class="l-kv__text sp">
    <span class="how">
      <span class="how_l">
        <img src="<%- data.layer %>assets/img/common/text_w_l.svg" alt="how" class="l-kv__img how_w_l">
      </span>
      <span class="ho">
        <img src="<%- data.layer %>assets/img/common/text_h.svg" alt="how" class="l-kv__img how_h">
        <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="how" class="l-kv__img how_o">
      </span>
      <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="how" class="l-kv__img how_w">
    </span>
    <span class="to">
      <img src="<%- data.layer %>assets/img/common/text_t.svg" alt="how" class="l-kv__img to_t">
      <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="how" class="l-kv__img to_o">
    </span>
    <span class="wow">
      <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="how" class="l-kv__img wow_w_01">
      <span class="ow">
        <img src="<%- data.layer %>assets/img/common/text_o.svg" alt="how" class="l-kv__img wow_o">
        <img src="<%- data.layer %>assets/img/common/text_w.svg" alt="how" class="l-kv__img wow_w_02">
      </span>
    </span>
    <!-- <img src="<%- data.layer %>assets/img/top/kv-logo01.svg" alt="how" class="l-kv__img how">
    <img src="<%- data.layer %>assets/img/top/kv-logo02.svg" alt="to" class="l-kv__img to">
    <img src="<%- data.layer %>assets/img/top/kv-logo03.svg" alt="wow" class="l-kv__img wow"> -->
    <!-- <img src="<%- data.layer %>assets/img/common/logo.svg" alt="honnow" class="l-kv__img honnow_logo"> -->
  </div>
  <div class="l-kv__skip"><a href="<%- data.layer %>top/">SKIP &gt;</a></div>
  <!-- <div class="l-kv__sns pc">
    <ul>
      <li>
        <a href="https://www.facebook.com/sharer.php?u=https://honnow-tokyo.com/" target="_blank"><img src="<%- data.layer %>assets/img/top/icon_fb.svg" alt="facebook" class=""></a>
      </li>
      <li>
        <a href="https://twitter.com/share?url=https://honnow-tokyo.com/" target="_blank"><img src="<%- data.layer %>assets/img/top/icon_tw.svg" alt="twiter" class=""></a>
      </li>
      <li>
        <a href="https://timeline.line.me/social-plugin/share?url=https://honnow-tokyo.com/" target="_blank"><img src="<%- data.layer %>assets/img/top/icon_line.svg" alt="line" class=""></a>
      </li>
    </ul>
  </div> -->
  <div class="l-kv__arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>
<section class="l-top">
  <ul>
    <li class="work01">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/27.html" class="">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/onodera/onodera_01.jpg" alt="" class="">
    </li>
    <li class="work02">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/26.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/pokemon/pokemon_01.jpg" alt="" class="">
    </li>
    <li class="work03">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/25.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/okumino/okumino_00.jpg" alt="" class="">
    </li>
    <li class="work04">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/23.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/tempura_capsel/tempura-yokai_00.jpg" alt="" class="">
    </li>
    <li class="work05">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/24.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/tokotoko/tokotokotagaran_01.jpg" alt="" class="">
    </li>
    <li class="work06">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/34.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/mainichi_81/mainichi-ad_01.jpg" alt="" class="">
    </li>
    <li class="work07">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/21.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/tsuburaya/ultra-emaki_01.jpg" alt="" class="">
    </li>
    <li class="work08">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/33.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/koukoku_27/kyoto-ad_01.jpg" alt="" class="">
    </li>
    <!-- <li class="work09">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/06.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/kiyomizu/geiten.jpg" alt="" class="">
    </li> -->
    <!-- <li class="work10">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/16.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/savepoint/tutto_01.jpg" alt="" class="">
    </li> -->
    <li class="work11">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/37.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/archive/archive_01.jpg" alt="" class="">
    </li>
    <li class="work12">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/13.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/shueisha/mask_01.jpg" alt="" class="">
    </li>
    <li class="work13">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/14.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/sss/sss_01.jpg" alt="" class="">
    </li>
    <li class="work14">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/04.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/gokuraku/gokuraku_01.jpg" alt="" class="">
    </li>
    <li class="work15">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/03.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/washable_book/washable_book_01.png" alt="" class="">
    </li>
    <li class="work16">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/36.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/vogue/vogue_02.jpg" alt="" class="">
    </li>
    <li class="work17">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/38.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/highclass/vstar01.png" alt="" class="">
    </li>
    <li class="work18">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/10.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/tempura/tempura-yokai-art_00.jpg" alt="" class="">
    </li>
    <li class="work19">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/09.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/fuwa_natural/fuwa_natural_01.jpg" alt="" class="">
    </li>
    <li class="work20">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/39.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/rule_song/song01.png" alt="" class="">
    </li>
    <li class="work21">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/29.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/icc/icc_logo_03.jpg" alt="" class="">
    </li>
    <li class="work22">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/30.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/kone/kone-logo.jpg" alt="" class="">
    </li>
    <li class="work23">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/31.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/marukin/marukin_01.jpg" alt="" class="">
    </li>
    <li class="work24">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/41.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/saido/sd_01.jpg" alt="" class="">
    </li>
    <li class="work25">
      <div class="l-top__icon c-icon__case">
        <svg width="126" height="126" class="pc">
          <circle cx="62" cy="62" r="60" class="" />
        </svg>
        <svg width="100" height="100" class="sp">
          <circle cx="50" cy="50" r="49" class="" />
        </svg>
        <a href="<%- data.layer %>details/40.html">
          <span class="c-icon__moji">C</span>
          <span class="c-icon__moji">A</span>
          <span class="c-icon__moji">S</span>
          <span class="c-icon__moji">E</span>
          <span class="two-moji">
            <span class="c-icon__moji">S</span>
            <span class="c-icon__moji">T</span>
            <span class="c-icon__moji">U</span>
            <span class="c-icon__moji">D</span>
            <span class="c-icon__moji">Y</span>
          </span>
        </a>
      </div>
      <div class="overlay"></div>
      <img src="<%- data.layer %>assets/img/details/kaminoshio/kaminoshio_01.png" alt="" class="">
    </li>
  </ul>
  <div class="l-arrow">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>
