<section class="l-clients l-contents">
  <div class="l-clients__wrapper">
    <h2>
      <span class="header-text clients01">C</span>
      <span class="header-text clients02">L</span>
      <span class="header-text clients03">I</span>
      <span class="header-text clients04">E</span>
      <span class="header-text clients05">N</span>
      <span class="header-text clients06">T</span>
      <span class="header-text clients07">S</span>
    </h2>
    <div class="l-clients__logo">
      <ul>
        <li class="disney list01">
          <img src="<%- data.layer %>assets/img/clients/client_disney.svg" alt="">
        </li>
        <li class="pokemon list02">
          <img src="<%- data.layer %>assets/img/clients/client_pokemon.svg" alt="">
        </li>
        <li class="tsuburaya list03">
          <img src="<%- data.layer %>assets/img/clients/client_tsuburaya.svg" alt="">
        </li>
        <li class="mcdonald list04">
          <img src="<%- data.layer %>assets/img/clients/client_mcdonald.svg" alt="">
        </li>
        <li class="jcb list05">
          <img src="<%- data.layer %>assets/img/clients/client_jcb.svg" alt="">
        </li>
        <li class="honda list01">
          <img src="<%- data.layer %>assets/img/clients/client_honda.svg" alt="">
        </li>
        <li class="onodera list02">
          <img src="<%- data.layer %>assets/img/clients/client_onodera.svg" alt="">
        </li>
        <li class="wego list03">
          <img src="<%- data.layer %>assets/img/clients/client_dmm.svg" alt="">
        </li>
        <li class="usen list04">
          <img src="<%- data.layer %>assets/img/clients/client_usen.svg" alt="">
        </li>
        <li class="qualia list05">
          <img src="<%- data.layer %>assets/img/clients/client_qualia.svg" alt="">
        </li>
      </ul>
    </div>
  </div>
  <div class="l-arrow gray sp">
    <a href="#"><img src="<%- data.layer %>assets/img/common/icon_arrow.svg" alt="arrow" class=""></a>
  </div>
</section>
